<div class="container">
    <div class="row gx-2">
        <div class="col-12 col-lg-6 mb-2 mb-lg-0 contacts-frame">
            <div class="contacts__header-container mb-2">
                <div class="header bg-black contacts__header" data-animation-bind="#contacts_anchor">
                    <h2>Контакты</h2>
                </div>
            </div>
            <div class="contacts-container">
                <div class="bg-yellow p-3 contacts" data-animation-bind="#contacts_anchor">
                    <span><img src="assets/resources/icons/i-phone.svg"> <a href="#">89152040095</a></span>
                    <span><img src="assets/resources/icons/i-mail.svg"> <a href="#">gusko_96@mail.ru</a></span>
                    <span><img src="assets/resources/icons/i-behance.svg"> <a href="#">Мой беханс</a></span>
                    <span><img src="assets/resources/icons/i-telegram.svg"> <a href="#">@hozaibergen</a></span>
                    <span><img src="assets/resources/icons/i-vk.svg"> <a href="#">Мой VK</a></span>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="bg-red feedback" data-animation-bind="#contacts_anchor">
                <div class="header mb-2 white-power">
                    <h2>Напишите мне</h2>
                </div>
                <form class="contact-form">
                    <input class="form-control" type="text" placeholder="Ваше имя">
                    <input class="form-control" type="text" placeholder="Телефон">
                    <input class="form-control" type="text" placeholder="Email">
                    <textarea class="form-control" placeholder="Сделай как мне братец
пиздато и охуенно "></textarea>
                    <button type="submit" class="btn btn-primary mb-3">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>