<div class="welcome">
    <div class="welcome__strip bg-blue" id="strip_1" data-animation-bind="#top_anchor"></div>
    <div class="welcome__strip bg-green" id="strip_2" data-animation-bind="#top_anchor"></div>
    <div class="welcome__strip bg-red" id="strip_3" data-animation-bind="#top_anchor">ПОРТ</div>
    <div class="welcome__strip bg-black" id="strip_4" data-animation-bind="#top_anchor">ФОЛИО</div>
    <div class="welcome__strip bg-yellow" id="strip_5" data-animation-bind="#top_anchor"></div>
    <div class="welcome__strip bg-red" id="strip_6" data-animation-bind="#top_anchor"></div>

    <div class="welcome__mobile-strip bg-red" id="mobile-strip_1">ПОРТ</div>
    <div class="welcome__mobile-strip bg-black" id="mobile-strip_4">ФОЛИО</div>
    <div class="welcome__mobile-strip bg-yellow" id="mobile-strip_2"></div>
    <div class="welcome__mobile-strip bg-red" id="mobile-strip_3"></div>
</div>