<div class="container">
    <div class="row gx-2 mb-2">
        <div class="col-12 col-md-6 d-none d-md-block"></div>
        <div class="col-12 col-md-6">
            <div class="bg-black header prices-header" data-animation-bind="#prices_anchor">
                <h2>Услуги</h2>
            </div>
        </div>
    </div>
    <div class="row gx-2 prices-container">
        {% include 'blocks/price--blue.twig' with {
            'id': 'blue-price-1',
            'header': 'Верстка упаковки',
            'content': '
                <ul>
                    <li>дизайн по вашему ТЗ</li>
                    <li>неограниченное число правок</li>
                    <li>файлы для веб и печати</li>
                    <li>множество вариантов</li>
                </ul>
            ',
            'price': '1 000'
        } %}
        {% include 'blocks/price--blue.twig' with {
            'id': 'blue-price-2',
            'header': 'Плакат',
            'content': '
                <ul>
                    <li>дизайн по вашему ТЗ</li>
                    <li>неограниченное число правок</li>
                    <li>верстка вашего текста</li>
                    <li>до 3 дней на отрисовку</li>
                </ul>
            ',
            'price': '200'
        } %}
        {% include 'blocks/price--blue.twig' with {
            'id': 'blue-price-3',
            'header': 'Брендинг',
            'content': '
                <ul>
                    <li>неограниченное число правок</li>
                    <li>файлы для веб и печати</li>
                    <li>множество вариантов</li>
                </ul>
            ',
            'price': '1 000'
        } %}
        {% include 'blocks/price--blue.twig' with {
            'id': 'blue-price-4',
            'header': 'Оформление соц. сетей',
            'content': '
                <ul>
                    <li>шапка группы/канала</li>
                    <li>аватар</li>
                    <li>фирменный стиль</li>
                    <li>исходники</li>
                </ul>
            ',
            'price': '1 000'
        } %}
        {% include 'blocks/price--green.twig' with {
            'id': 'green-price-1',
            'header': 'Экспресс логотип',
            'content': '
                <ul>
                    <li>логотип по эскизу</li>
                    <li>неограниченное число правок</li>
                    <li>файлы для веб и печати</li>
                    <li>2 варианта логотипа</li>
                    <li>до 5 дней на отрисовку</li>
                </ul>
            ',
            'price': '1 000'
        } %}
        {% include 'blocks/price--green.twig' with {
            'id': 'green-price-2',
            'header': 'Разработка логотипа',
            'content': '
                <ul>
                    <li>логотип по ТЗ</li>
                    <li>неограниченное число правок</li>
                    <li>файлы для веб и печати</li>
                    <li>множество вариантов</li>
                </ul>
            ',
            'price': '10 000'
        } %}
        {% include 'blocks/price--green.twig' with {
            'id': 'green-price-3',
            'header': 'Обложка видео',
            'content': '
                <ul>
                    <li>дизайн по вашему ТЗ</li>
                    <li>неограниченное число правок</li>
                    <li>до 3 дней на отрисовку</li>
                </ul>
            ',
            'price': '200'
        } %}
        {% include 'blocks/price--green.twig' with {
            'id': 'green-price-4',
            'header': 'Баннер',
            'content': '
                <ul>
                    <li>дизайн по вашему ТЗ</li>
                    <li>неограниченное число правок</li>
                    <li>верстка вашего текста</li>
                    <li>до 3 дней на отрисовку</li>
                </ul>
            ',
            'price': '200'
        } %}
    </div>
</div>