<div class="container">
    <div class="row gx-2 mb-2">
        <div class="col-12 col-md-6">
            <div class="bg-black header works-header" data-animation-bind="#works_anchor">
                <h2>Мои&nbsp;работы</h2>
            </div>
        </div>
        <div class="col-12 col-md-6 d-none d-md-block"></div>
    </div>
    <div class="row gx-2">
        <div class="col-12">
            <div class="works">
                <div class="work bg-yellow" id="work-1" data-animation-bind="#works_anchor">
                    <a data-fslightbox="works" href="assets/resources/works/work01.jpg">
                        <img src="assets/resources/works/prev/work01.jpg" class="work__image">
                    </a>
                </div>
                <div class="work bg-blue" id="work-2" data-animation-bind="#works_anchor">
                    <a data-fslightbox="works" href="assets/resources/works/work02.jpg">
                        <img src="assets/resources/works/prev/work02.jpg" class="work__image">
                    </a>
                </div>
                <div class="work bg-green" id="work-3" data-animation-bind="#works_anchor">
                    <a data-fslightbox="works" href="assets/resources/works/work03.jpg">
                        <img src="assets/resources/works/prev/work03.jpg" class="work__image">
                    </a>
                </div>
                <div class="work bg-black" id="work-4" data-animation-bind="#works_anchor">
                    <a data-fslightbox="works" href="assets/resources/works/work04.jpg">
                        <img src="assets/resources/works/prev/work04.jpg" class="work__image">
                    </a>
                </div>
                <div class="work bg-red" id="work-5" data-animation-bind="#works_anchor">
                    <a data-fslightbox="works" href="assets/resources/works/work05.jpg">
                        <img src="assets/resources/works/prev/work05.jpg" class="work__image">
                    </a>
                </div>
                <div class="work bg-yellow" id="work-6" data-animation-bind="#works_anchor">
                    <a data-fslightbox="works" href="assets/resources/works/work06.jpg">
                        <img src="assets/resources/works/prev/work06.jpg" class="work__image">
                    </a>
                </div>
                <div class="work bg-green" id="work-7" data-animation-bind="#works_anchor">
                    <a data-fslightbox="works" href="assets/resources/works/work07.jpg">
                        <img src="assets/resources/works/prev/work07.jpg" class="work__image">
                    </a>
                </div>
                <div class="work bg-blue" id="work-8" data-animation-bind="#works_anchor">
                    <a data-fslightbox="works" href="assets/resources/works/work08.jpg">
                        <img src="assets/resources/works/prev/work08.jpg" class="work__image">
                    </a>
                </div>
                <div class="work bg-black" id="work-9" data-animation-bind="#works_anchor">
                    <a data-fslightbox="works" href="assets/resources/works/work09.jpg">
                        <img src="assets/resources/works/prev/work09.jpg" class="work__image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>