<div class="col-12 col-md-6 col-xl-3 mb-2 mb-xl-0 price-container price--slised__frame" id="{{ id }}">
    <div class="price bg-green" data-animation-bind="#prices_anchor">
        <div class="price__header">
            {{ header|raw }}
        </div>
        <div class="price__content">
            {{ content|raw }}
        </div>
        <div class="price__summ">
            от <br>
            {{ price|raw }} руб.
        </div>
        <div class="price__offer">
            <a href="#contacts_anchor">Написать</a>
        </div>
    </div>
</div>